.cardContainer{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color:rgb(248, 246, 102);
  border-radius: 20px;
  width:300px;
  min-height: 350px;
  margin-bottom: 10px;
}
.cardTitle{
  font-Size:25px;
  color: orangered;
  font-weight: bold;
  text-align: center;
  margin:0;
  margin-bottom: 7px;
}
.ingTitle, .dirTitle{
  width:100%;
  text-align: center;
  margin:0;
  color: gray;
}
.ingredientsList, .directionsList{
  margin:0;
  cursor: pointer;
}
.ingItem, .dirItem{
  width: 100%;
  color: orangered;
  font-weight: 5px;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  }
.ingItem:hover, .dirItem:hover{
  opacity: 0.7;
  text-decoration: line-through;
  cursor: pointer;
}
.form{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
input[type='text']{
  width:35%;
  background: none;
  text-align: center;
  opacity: 0.5;
  border: none;
  border-bottom: 1px solid grey;
  outline:none;
  }
  input[type='submit']{
  font-size:20px;
  font-weight: bold;
  text-align: center;
  color: orange;
  border: none;
  background: none;
  border-radius: 100%;
  outline:none;
  }
  input[type='submit']:hover{
  font-size: 30px;
  cursor: pointer;
  }
.deleteCard{
  align-self: center;
}
.deleteCard:hover{
  cursor: pointer;
  color: blue;
}
.addCard{
  width:300px;
  min-height: 350px;
  border: none;
  border-radius: 20px;
  background-color:rgb(248, 246, 102);
  text-align: center;
  color: orange;
  font-weight: bold;
  font-size:100px;
  outline:none;
}
.addCard:hover{
  border:none;
  opacity:0.5;
  cursor: pointer;
}

